<p>
  <strong>Name:</strong>
  <%= link_to @page.name, root_path( seite:@page.name ) %>
</p>

<p>
  <strong>Content:</strong>
  <%= truncate( @page.content, length: 200 ) %>
</p>

<p>
  <strong>Owner:</strong>
  <%= User.find( @page.user_id ).username %> ( <%= @page.user_id %> )
</p>

<p>
  <strong>Visibility:</strong>
  <%= @page.visibility %>
</p>

<p>
  <strong>Editability:</strong>
  <%= @page.editability %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @page.menu %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
