<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @page.user_id %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @page.visibility %>
</p>

<p>
  <strong>Editability:</strong>
  <%= @page.editability %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @page.menu %>
</p>

<p>
  <strong>Lock:</strong>
  <%= @page.lock %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
