
  
<center>


  <% if @intent == 'Overview' %>
	<h1>Beckman Dashboard Overview</h1>
	
	<table width=80%>
	  <tr>
	    <td width=30%>
 	      <h1>&nbsp</h1>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <h2><%= Time.now.strftime("%H:%M:%S") %></h2>
	    </td>
	    <td >
	      <%= render partial: 'turnaround', locals: {t_height: 150}%>
	    </td>
	    <td valign=top>
	      <h2> Staff on Duty </h2>
	      <ul>
	      <li>Laure
	      <li>Vincent
	      <li>Xavier      
	      <li>Sylvain	      
	      </ul>
	    </td>	    
	  </tr>
	  <tr>
	    <h1>&nbsp</h1>
	  </tr>
	  <tr>
	    <td>
	      <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Beckman_Coulter_Logo.svg" height=100>
	    </td>
	    <td>
	      <%= render partial: 'samplevolume', locals: {t_vol: false,t_height: 150} %>
	    </td>
	    <td>
	      <%= render 'pie' %>
	    </td>
	  </tr>
	</table>
  <% elsif @intent == 'Turnaround' %>
    <%= render partial: 'turnaround', locals: {t_height: 500} %>
  <% elsif @intent == 'Samplevolume' %>
    <%= render partial: 'samplevolume', locals: {t_vol: true,t_height: 600} %>    
  <% end %>
	
</center>
