<h1>Listing site_maps</h1>

<table>
  <thead>
    <tr>
      <th>External</th>
      <th>Internal</th>
      <th>Aux</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_maps.each do |site_map| %>
      <tr>
        <td><%= site_map.external %></td>
        <td><%= site_map.internal %></td>
        <td><%= site_map.aux %></td>
        <td><%= link_to 'Show', site_map %></td>
        <td><%= link_to 'Edit', edit_site_map_path(site_map) %></td>
        <td><%= link_to 'Destroy', site_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site %></td>
		<td><%= site %></td>
      </tr>
    <% end %>	    
  </tbody>
</table>

<br>

<%= link_to 'New Site map', new_site_map_path %>
