<div class="authenticate">
  <%= form_tag prove_it_path, remote: js? do %>
    <fieldset>  
	  <% if @retries %>
	    <div class="error_explanation">
	      <h2>The password does not match!</h2>
	      <ul>
	        <li><%= @retries.ordinalize %> attempt of <%= @max_retries %></li>
	        <li>or, <%= link_to 'send reset mail', reset_mail_path(:claim => @claim) %></li>
	      </ul>
	    </div>
	  <% end %>  
      <legend><%= @claim %></legend>
      <div class="label_input_div">
        <%= hidden_field_tag :claim, @claim %>
        <%= label_tag :password, "password:" %>
        <%= password_field_tag :password, '', autofocus: true, size: 8 %>
      </div>
    </fieldset>
  <% end %>
</div>
