
<%= form_tag prove_it_path, class: 'form-horizontal login_decor', remote: js? do %>
  <div class="alert alert-info" role="alert">
    Prove you are <%= @claim %> !
  </div>
  <% if @retries %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        The password does not match!
	    <ul>
	      <li><%= @retries.ordinalize %> attempt of <%= @max_retries %></li>
	      <li>or, <%= link_to 'send reset mail', reset_mail_path(:claim => @claim) %></li>
	    </ul>
      </div>
  <% end %>  
  <div class="field form-group">
    <%= hidden_field_tag :claim, @claim %>
    <%= label_tag :password, "password:", class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= password_field_tag :password, '', autofocus: true, class: 'form-control' %>
    </div>
  </div>
<% end %>
