<div class="authenticate">
  <%= form_tag ur_secrets_path, remote: js? do %>
    <fieldset>
      <%= render "authenticate/user_errors" %>    
	  <%= hidden_field_tag :user_id, @user.id if @user %>
      <legend>New password for <%= @user.username if @user %></legend>
      <div class="label_input_div">
        <%= label_tag :password, "password:" %>
        <%= password_field_tag :password, '', autofocus: true, size: 10 %>
      </div>
      <div class="label_input_div">
        <%= label_tag :password, "confirmation:" %>
        <%= password_field_tag :password_confirmation, '', size: 10 %>        
      </div>
      <div class="label_input_div">
          <%= link_to 'cancel', see_u_path %> <%= submit_tag 'Update!'%>
      </div>  
    </fieldset>
  <% end %>
</div>
