<%= form_tag ur_secrets_path, class: 'form-horizontal login_decor', remote: js? do %>
  <div class="alert alert-info" role="alert">
    New password for <%= @current_user.username if @current_user %>
  </div>
  <%= render "authenticate/user_errors" %>    
  
  <div class="field form-group">
    <%= label_tag :kennwort, "password:", class: 'col-sm-3 control-label' %>
    <div class="col-sm-3">
      <%= password_field_tag :kennwort, '', autofocus: true, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= label_tag :confirmation, "confirmation:", class: 'col-sm-3 control-label' %>
    <div class="col-sm-3">
      <%= password_field_tag :confirmation, '', class: 'form-control'%>        
    </div>
  </div>
  <div class="field form-group">
  	<div class="col-sm-3">
	</div>	  
    <%= hidden_field_tag :user_id, @current_user.id if @current_user %>  
	<div class="col-sm-2">	
      <%= submit_tag 'Update!', class: 'btn btn-default', :onclick => "$('#spinner').show(); ".html_safe %>
	</div>	
	<div class="col-sm-2">
      <%= link_to 'cancel', see_u_path, class: 'col-sm-2 control-label' %> 
	</div>	
  </div>

	
<% end %>

