<%= form_tag ur_secrets_path, class: 'form-horizontal login_decor', remote: js? do %>
  <div class="alert alert-info" role="alert">
    New password for <%= @current_user.username if @current_user %>
  </div>
  <%= render "authenticate/user_errors" %>    
  
  <div class="field form-group">
    <%= label_tag :password, "password:", class: 'col-sm-3 control-label' %>
    <div class="col-sm-2">
      <%= password_field_tag :password, '', autofocus: true, size: 10, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= label_tag :password, "confirmation:", class: 'col-sm-3 control-label' %>
    <div class="col-sm-2">
      <%= password_field_tag :password_confirmation, '', size: 10, class: 'form-control'%>        
    </div>
  </div>
  <div class="field form-group">
    <%= hidden_field_tag :user_id, @current_user.id if @current_user %>  
    <%= link_to 'cancel', see_u_path, class: 'col-sm-3 control-label' %> 
    <%= submit_tag 'Update!', class: 'col-sm-offset-1', :onclick => "$('#spinner').show(); ".html_safe %>
  </div>
<% end %>

