<%= render "authenticate/fb_script" %>	

<%= form_tag prove_it_path, class: 'form-horizontal login_decor' do %>
 
  <! 
    title box
  >  
  <div class="alert alert-info" role="alert">
	Who are you?
  </div>
  <%= render "user_errors" %>   	  

  <! 
    labels & entry fields
  >    
  <div class="card">
    <div class="card-header" >
      <div class="form-group"> 
        <%= label_tag :claim, "username or email:", class: 'control-label' %>
        <%= text_field_tag :claim, '', autofocus: true, class: 'col-sm-3 form-control' %>	  
	    <small class="text-muted"><%= link_to 'cancel', see_u_path %> </small>
      </div>
    </div>  
  </div> 
<% end %>  
 
<! 
  Facebook stuff
>     
<div class="row" id="fb_div">
  <%= label_tag :claim, "or via Facebook:" %>
  <div class="col-sm-10">
	<% image_tag 'fb.png', onclick: 'fb_login()', class: 'fb_button' %>
	<fb:login-button scope="public_profile,email" onlogin="fb_login_state();"></fb:login-button>
	&nbsp; &nbsp; <span id='fb_login_info'></span>
  </div>
</div>  