<%= form_for(@user_action) do |f| %>
  <% if @user_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_action.errors.count, "error") %> prohibited this user_action from being saved:</h2>

      <ul>
      <% @user_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_session_id %><br>
    <%= f.text_field :user_session_id %>
  </div>
  <div class="field">
    <%= f.label :controller %><br>
    <%= f.text_field :controller %>
  </div>
  <div class="field">
    <%= f.label :action %><br>
    <%= f.text_field :action %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
