<h1>Listing User Actions </h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>S_ID</th>
      <th>Controller</th>
      <th>Action</th>
      <th>Params</th>    
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_actions.each do |user_action| %>
      <tr>
        <td><%= user_action.id %></td>
        <td align=right><%= user_action.user_session_id %></td>
        <td><%= user_action.controller %></td>
        <td><%= user_action.action %></td>
        <td><%= user_action.params %></td>   
        <td><%= link_to 'Show', user_action %></td>
        <td><%= link_to 'Edit', edit_user_action_path(user_action) %></td>
        <td><%= link_to 'Destroy', user_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User action', new_user_action_path %> |
<%= link_to 'Back', '/' %>
