
  <div id = "file_heading"> <span>Click here to see uploaded files:</span>
    <script>
	  $("#file_heading").click( function() { $("#files").fadeIn() } );
    </script>		  
    <div id="files">
      <table>
        <tr><td></td><td></td><td></td><td>copy this address to insert images above</td></tr>
        <% @files.each do |f| %>
          <tr>

            <td> <%= link_to if_image(pagename, f), file_target( pagename, f) %></td>
            <td> <%= link_to File.basename( f ), file_target( pagename, f) %> </td>
            <td> <%= link_to 'delete', 
                      file_delete_path( seite: pagename, filename: File.basename(f) ),
                      method: :post,
                      data: { confirm: 'Are you sure?' } %> &nbsp; </td>
            <td class="grab_box"> <%= file_grab_target( pagename, f) %> </td>
          </tr>
        <% end %>
      </table>
    
      <%= form_tag file_upload_path( seite: pagename ), multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag 'Upload!' %> 
        <p id="note"> Note 1: you will lose your edits... save first! </p>
        <p id="note"> Note 2: all uploaded files are visible to anyone! </p>
      <% end %>
    
    </div>    

  </div>
