    <div id = "permission_heading"> <span>Click here to set permissions and options:</span>
      <script>
	    $("#permission_heading").click( function() { $("#permissions").show() } );
      </script>		
      <p>  
      <div id="permissions" class="field form-group">
        <%= label_tag :visibility, "Visibility", class: 'col-sm-3 control-label' %>
        <div class="col-sm-2">
          <%= select_tag :visibility, options_for_select( Page.visibilities, @page.visibility ), class: 'form-control' %>
        </div>
        <%= label_tag :editability, "Editability", class: 'col-sm-3 control-label'  %>
        <div class="col-sm-2">
          <%= select_tag :editability, options_for_select( Page.editabilities, @page.editability ), class: 'form-control' %>
        </div>
        <%= label_tag :menu, "Show menu", class: 'col-sm-3 control-label'  %>
        <div class="col-sm-2">
          <%= select_tag :menu, options_for_select( ['true','false'], @page.menu ), class: 'form-control' %> 
        </div>
        <%= label_tag :editor, "Editor", class: 'col-sm-3 control-label'  %>
        <div class="col-sm-2">
          <%= select_tag :editor, options_for_select( ['wysiwyg','html'], @page.editor ), class: 'form-control' %> 
        </div>
        <br>
        <%= submit_tag 'Save!', class: 'col-sm-3 control-label' %>         
      </div>
    </div>
    </p>
