
<div class="card">
  <div class="card-header" >
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
	    data-bs-target="#collapsePermissions" aria-expanded="false"
	    aria-controls="collapsePermissions">
      Options
    </button>

    <div id="collapsePermissions" class="collapse" >
      <div><br></div>
      <div class="card">
        <div class="card-body">      

    	  <div id="permissions" class="form-group">
            <div class="row">
              <div class="col-sm-3">
                <%= label_tag :visibility, "Visibility" %>
	        <%= select_tag :visibility,
		       options_for_select( Page.visibilities,
		       @page.visibility ), class: 'form-control' %>
              </div>

              <div class="col-sm-3">                 
	        <%= label_tag :editability, "Editability" %>
	        <%= select_tag :editability,
		    options_for_select( Page.editabilities,
		    @page.editability ), class: 'form-control' %>
	      </div>	          

	      <div class="col-sm-3">        
	        <%= label_tag :menu, "Show menu"  %>
	        <%= select_tag :menu,
		    options_for_select( ['true','false'], @page.menu ),
		    class: 'form-control' %>
	      </div>

	      <div class="col-sm-3">  
	        <%= label_tag :editor, "Editor" %>
	        <%= select_tag :editor,
		    options_for_select( ['wysiwyg','html'], @page.editor ),
		    class: 'form-control' %> 
              </div>    

            </div>
          </div>
        </div>
      </div>
    </div> <!-- collapsePermissions -->

  </div>
</div>

