
<style type="text/css">
  <%= @css %>
</style>
  
<div id="seite">   

  <div class="row">
	<div class="header col-sm-12">
	  <%= render partial: "seite", locals: { seite: @header } %>
	</div>	
	
	<div class="menu col-sm-12">
	  <%= render partial: "seite", locals: { seite: @menu } %>	
	</div>
  </div>
	
  <div class="row">		
  
    <!--  -center-  -->
    <% if !@left and !@right %>
	  <div class="center col-sm-12 " >
	    <%= render partial: "seite", locals: { seite: @center } %>
	  </div>
	  
	<!--  left-center-right  -->
	<% elsif @left and @right %>
	  <div class="center col-sm-6 col-sm-push-3 " >
	    <%= render partial: "seite", locals: { seite: @center } %>
	  </div>	
	  <div class="left col-sm-3 col-sm-pull-6 col-xs-6 ">
	    <%= render partial: "seite", locals: { seite: @left } %>	
	  </div>	 	  
	  <div class="right col-sm-3 col-xs-6 ">
	    <%= render partial: "seite", locals: { seite: @right } %>
	  </div> 	  
	  
	<!--  left-center  -->
    <% elsif @left %>
	  <div class="center col-sm-9 col-sm-push-3 " >
	    <%= render partial: "seite", locals: { seite: @center } %>
	  </div>	
	  <div class="left col-sm-3 col-sm-pull-9 col-xs-6 ">
	    <%= render partial: "seite", locals: { seite: @left } %>	
	  </div>	 

    <!--  center-right  -->
    <% elsif @right %>
	  <div class="center col-sm-9 " >
	    <%= render partial: "seite", locals: { seite: @center } %>
	  </div>	
	  <div class="right col-sm-3 col-xs-6 ">
	    <%= render partial: "seite", locals: { seite: @right } %>	
	  </div>
	  	  	  	  	  
	<% end %>
	
  </div>
	
  <div class="row">	
	<div class="footer col-xs-12">
	  <%= render partial: "seite", locals: { seite: @footer } %>
	</div>
  </div>
  	
</div> 

