
<style type="text/css">
  <%= @css %>
</style>
  
<div id="seite">   

	<div class="header">
	  <%= render partial: "seite", locals: { seite: @header } %>
	</div>
	
	<div class="menu">
	  <%= render partial: "seite", locals: { seite: @menu } %>	
	</div>
	
	<% if @left %>
	  <div class="left">
	    <%= render partial: "seite", locals: { seite: @left } %>	
	  </div>
	<% end %>
	
	<div class="center <%= center_class( @left, @right ) %>" >
	  <%= render partial: "seite", locals: { seite: @center } %>
	</div>
	
	<% if @right %>
	  <div class="right">
	    <%= render partial: "seite", locals: { seite: @right } %>
	  </div>
	<% end %>
	
	<div class="footer">
	  <%= render partial: "seite", locals: { seite: @footer } %>
	</div>
  	
</div> 

