

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Alternate Email:</strong>
  <%= @user.alternate_email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<small>
	<h1>Sessions for User <%= @user.username %> </h1>
	
	<% @user.user_sessions.reverse.each do |session| %>
	  <h2> <%= link_to ( session.created_at.to_time.strftime("%m/%d %H:%M:%S") + " - " +  
	                     session.updated_at.to_time.strftime("%m/%d %H:%M:%S") ),
	                     session %> </a></h2>
	  
	  <tiny>
	    <% session.user_actions.reverse.each do |action| %>
	      <%= action.created_at.to_time.strftime("%m/%d %H:%M:%S") %> &nbsp; &nbsp; <%= action.controller %>#<%= action.action %> &nbsp; <%= action.params %><br />
	    <% end %>    
	  </tiny>
	       
	<% end %>
</small>
