<h1>Listing User Sessions</h1>

<table class="admin-table">
  <thead>
    <tr>
      <th><u><%= link_to 'User', user_sessions_path( by_name: 'true' ) %></u></th>    
      <th>ID</th>
      <th>Client</th>
      <th><u><%= link_to 'IP', user_sessions_path( by_ip: 'true' )%></u></th>
      <th><u><%= link_to 'Time', user_sessions_path %></u></th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_sessions.each do |user_session| %>
      <tr>
        <td><%= user_session._user ? user_session._user.username : user_session.user_id  %></td>
        <td><%= link_to user_session.id, user_session %></td>
        <td><%= truncate( user_session.client ) %></td>
        <td><%= user_session.ip %></td>
        <td><small><%= prettytime( user_session.updated_at ) %></small></td>        
        <td><%= link_to 'Edit', edit_user_session_path(user_session) %></td>
        <td><%= link_to 'Destroy', user_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User session', new_user_session_path %> |
<%= link_to 'Back', '/' %>