<h1>Listing user_sessions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>    
      <th>ID</th>
      <th>Client</th>
      <th>IP</th>
      <th>Updated At</th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_sessions.each do |user_session| %>
      <tr>
        <td><%= user_session.user.username if user_session.user %></td>
        <td><%= user_session.id %></td>
        <td><%= truncate( user_session.client ) %></td>
        <td><%= user_session.ip %></td>
        <td><%= user_session.updated_at %></td>        
        <td><%= link_to 'Show', user_session %></td>
        <td><%= link_to 'Edit', edit_user_session_path(user_session) %></td>
        <td><%= link_to 'Destroy', user_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User session', new_user_session_path %> |
<%= link_to 'Back', '/' %>
