
<% if @user_session %>
	<p>
	  <strong>User:</strong>
	  <%= @user_session._user.username if @user_session._user %>
	</p>

	<p>
	  <strong>User ID:</strong>
	  <%= @user_session.user_id %>
	</p>

	<p>
	  <strong>Client:</strong>
	  <%= @user_session.client %>
	</p>

	<p>
	  <strong>IP:</strong>
	  <%= @user_session.ip %>
	</p>

	<%= link_to 'Edit', edit_user_session_path(@user_session) %> |
<% else %>
	<p>
	  Session does not exist.
	</p>
<% end %>

<%= link_to 'Back', user_sessions_path %>

<small>

<% if @user_session %>

	<h5><br>Actions for Session <%= @user_session.id %> </h5>
	<table>
	<% @user_session.user_actions.reverse.each do |action| %>
	  <tr>
	  <tiny><td>
	    <%= link_to ( action.controller + "#" + action.action ), action %> &nbsp;
      </td><td>
        <% if action.params %>
          <%= action.params.gsub(/seite:\s*(.*);/) {$1} %>
	    <% end %>
	    <br />
      </td></tiny>	 
      </tr>	  
    <% end %>   
    </table>	
	  
<% end %> 	  

</small>
