
<!DOCTYPE html>
<html>
<head>
  <title><%= @center ? @center.name.capitalize.gsub(/_/,' ') : "" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render "authenticate/layout_insert" %>
  
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>  
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  
  <div id="application">
    <%= yield %>
  </div>


  <div class="cleardiv" id="version"> <small> <small> 
  <%= RUBY_VERSION%> <%= Rails.version %> <%= Rails.env[0] %> 
  <%= editable( @center, @current_user ).to_s[0] %> <%= viewable( @center, @current_user ).to_s[0] %>
  <%= prettytime( Time.now ) %></small> </small> </div>  

</body>
</html>

